<h1>
    DCWA Christmas Assignment 2020
</h1>

<table>
    <tr>
        <th><a href="/countries">List Countries</a></th>
    </tr>
    <tr>
        <th><a href="/cities">List Cities</a></th>
    </tr>
    <tr>
        <th><a href="/stateHeads">List Heads of State</a></th>
    </tr>
</table>