<h1>
    DCWA Christmas Assignment 2020
</h1>

<table>
    <tr>
    <th><a href="/countries">List Countries</a></th>
    <th><a href="/cities">List Cities</a></th>
    <th><a href="/headsOfState">List Heads of State</a></th>
    </tr>
</table>