<h1>
    Countries
</h1>

<button data-ref="" class="btn btn-primary">Add Country</button>

<table>
    <tr>
    <th>Country Code</th>
    <th>Country Name</th>
    <th>Country Details</th>
    <th>Action</th>
    </tr>
    <% countries.forEach((country) => { %>
    <tr>
    <td><%= country.co_code %></td>
    <td><%= country.co_name %></td>
    <td><%= country.co_details %></td>
    <td><a href="/">Update</a></td>
    <td><a href="/">Delete</a></td>
    <td><%=  %></td>
    </tr>
    <% }) %>
</table>

<a href="/">Home</a>